ldapauthuser	=> 'user@example.local',
ldapauthpass	=> 'supersecure',
ldapgroupadmin	=> 'cn=adm-report,cn=users,dc=example,dc=local',
ldapgroup	=> '*', 
ldapbasedn	=> 'dc=example,dc=local',
ldaphost	=> 'ldaps://dc01.example.local:636',
databasename	=> 'dl',
databaseuser	=> 'dl',
databasepass	=> 'evenmoresecure',
databasehost	=> 'dbhost.example.local',
sessionduration => '1 HOUR',
maxdaysinquery  => '3700',
